<header class="bg-slate-500 p-4 flex items-center justify-between">
    <div class="text-white text-2xl font-bold">CrickInformation</div>
    <nav class="flex space-x-4">
      <a [routerLink]="'/live'" class="text-white hover:text-gray-300">Live</a>
      <a [routerLink]="'/point-table'" class="text-white hover:text-gray-300">Point Table</a>
      <a [routerLink]="'/home'" class="text-white hover:text-gray-300">Home</a>
      <a [routerLink]="'/history'" class="text-white hover:text-gray-300">History</a>
    </nav>
  </header>
