
@if(match){
    <div class=" h-full hover:bg-blue-200 transition-all rounded-xl cursor-pointer border-b-orange-500 border-b-8 card p-4 bg-white shadow-lg mt-2">

        <div class="header border-b-2 border-b-gray-200 py-2 px-3">
            <h1 class="font-bold">{{match.teamHeading}}</h1>
            <p>{{match.matchNumberVenue}}</p>
        </div>
        <div class="body mt-3">
            <div class="flex justify-between">
                <p class="font-bold">{{match.battingTeam}}</p>
                <p class="font-bold">{{match.battingTeamScore}}</p>
            </div>
            <div class="flex justify-between">
                <p class="font-bold">{{match.bowlTeam}}</p>
                <p class="font-bold">{{match.bowlTeamScore}}</p>
            </div>
        </div>
        <div class="footer mt-3">
            <p class="text-red-700">{{match.liveText}}</p>
            <p class="text-green-700">{{match.textComplete}}</p>
        </div>
    </div>
    
}
